<!DOCTYPE html>
<html>
    <head>
        <title>Online Takeaway Orders</title>
    </head>
    <body>
        <main id="main">
            <h1>${input.greeting}</h1>
        </main>
    </body>
</html>
